<header>
  <nav>
    <ul>
      <li><a href="/">Shop</a></li>
      <li><a href="/products">Products</a></li>
      <li><a href="/cart">Cart</a></li>
      <li><a href="/admin/products">Admin products</a></li>
      <li><a href="/admin/add-product">Add product</a></li>
    </ul>
  </nav>
</header>
