<%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/nav.ejs') %>
    <h1>This is add product page</h1>
    <form action="/admin/add-product" method="POST">
      <input name="name" />
      <button type="submit">Add</button>
    </form>
<%- include('includes/end.ejs') %>
